::ng-deep .tab-shng > a{
  border-bottom: none !important;
  outline: 0 !important;
  color:rgb(160, 160, 160);
}


/*
    Styling for PrimeNG <p-tee>
*/

:host ::ng-deep .p-tree {
  border: none !important;
  width: auto;
}

:host ::ng-deep .p-treenode-content.p-highlight {
  background-color: #709cc2;
  color: #ffffff;
}

:host ::ng-deep .p-tree-root {
  background: #ffffff;
  overflow: visible;
}


/*
:host ::ng-deep .ui-treenode-content {
  color: blue;
}
*/


